<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lotto Number Maker</title>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .field-error {
      border-color: #dc3545; color: #dc3545;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="menu-name">
    <h2>로또 당첨 이력 횟수 조회</h2>
    <div th:object="${leastCount}">
      <h3>최신 당첨 이력 날짜</h3>
      <p th:text="*{drawNoDate}">최신 당첨 날짜</p>

      <h3>최신 당첨 회차</h3>
      <p th:text="${leastCount.drawNo} + '회'">최신 당첨 회차</p>
    </div>
  </div>

  <div>
    <button class="refresh"> 당첨 이력 새로 고침 보턴 </button>
  </div>

  <form action="/search" th:object="${winNumberSearchDto}" method="post" >
    <label>최근 회차 기준 몇 회 전까지 분석합니까? (ex : 100을 입력할 경우! 최신회차-100 ~ 최신회차)</label>
    <br>
    <input type="text" th:field="*{count}" th:errorclass="field-error">
    <div class="field-error" th:errors="*{count}"> 잘못 된 데이터 </div>

    <button type="submit"> 검색 </button>
  </form>

</div>
</body>

<script>
  const refresh = document.querySelector(".refresh");

  refresh.addEventListener("click", () => {
    alert("당첨 이력을 확인 하고 최신화 합니다.");
    location.href='refresh';
  })

</script>

</html>